{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block monTitre %}
	Voici la liste des animaux
{% endblock %}

{% block body %}
	{% for animal in animaux %}
		<div class="row align-items-center">
			<div class="col-2 text-center">
				<img src="{{ asset('images/' ~ animal.image) }}" alt="">
			</div>
			<div class="col-auto">
				<h2>
					<a href="{{ path('afficher_animal', { 'id' : animal.id }) }}">
						{{ animal.nom }}

					</a>
				</h2>
				<p>
					{{ animal.description }}
				</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
